---
import { Image } from "astro:assets";
import pic1 from "../../assets/images/insta1.jpg";
import pic2 from "../../assets/images/insta2.jpg";
import pic3 from "../../assets/images/insta3.jpg";
import pic4 from "../../assets/images/insta4.jpeg";
---

<section>
  <div class="flex2">
    <div class="grid">
      <Image class="pic" src={pic1} alt="pic1" />
      <Image class="pic" src={pic2} alt="pic2" />
      <Image class="pic" src={pic3} alt="pic3" />
      <Image class="pic" src={pic4} alt="pic4" />
    </div>
  </div>
</section>

<style>
  @media (min-width: 1025px) {
    .flex2 {
      margin-left: 380px;
      margin-top: -200px;
      object-fit: cover;
    }
    .pic {
      width: 250px;
      height: 400px;
      object-fit: cover;
    }
  }

  @media (max-width: 599px) {
    .grid {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
  }
</style>
