---
import Menu from "../Menu.astro";
import Menumobil from "../Menumobil.astro";
import HudAnalyseKnap from "./HudAnalyseKnap.astro";
---

<section>
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>
  <div>
    <h1>What's the main storyline of your skin's daily drama?</h1>
    <p class="tekst">
      Let's decode your skin's signals to tailor the perfect care routine. Check
      off the issues you experience most frequently
    </p>
  </div>
</section>
<section>
  <div class="text">
    <div>
      <p class="boks"><input type="checkbox" /> Breakouts</p>
    </div>
    <div>
      <p class="boks"><input type="checkbox" /> Redness</p>
    </div>
    <div>
      <p class="boks"><input type="checkbox" /> Pigmentations</p>
    </div>
    <div>
      <p class="boks boks2"><input type="checkbox" /> Fine lines</p>
    </div>
    <div>
      <p class="boks boks2"><input type="checkbox" /> Dull skin</p>
    </div>
  </div>
</section>
<section class="flex">
  <div class="button2">
    <a href="/Hudanalyse/analyse2"> <p class="next">BACK</p></a>
  </div>
  <div class="button2">
    <a href="/Hudanalyse/analyse4"> <p class="next">NEXT</p></a>
  </div>
</section>

<style>
  @media (min-width: 1025px) {
    body {
      background-image: url(../../assets/images/hudanalyse1.png);
    }

    .menu1 {
      display: none;
    }
    h1 {
      text-align: center;
      margin-top: 150px;
    }
    .tekst {
      width: 450px;
      text-align: center;
      margin-left: 35%;
      margin-top: 20px;
    }

    .text {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: -70px;
    }

    .boks input[type="checkbox"] {
      /* Skjul den standard checkboks */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Opret en brugerdefineret checkboks */
      width: 16px;
      height: 16px;
      position: relative;
      border: 1px solid black;
      border-radius: 20px; /* Gør kanterne lidt afrundede */
      margin-right: 10px; /* Tilføj lidt plads mellem checkboksen og teksten */
    }

    /* Opret checkhakket inden i den brugerdefinerede checkboks */
    .boks input[type="checkbox"]::before {
      content: "\2713"; /* Brug unicode-tegnet for check-hakket */
      font-size: 12px; /* Juster størrelsen efter behov */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black; /* Farve på checkhakket */
      opacity: 0; /* Start med at være usynlig */
    }

    /* Stil den brugerdefinerede checkboks, når den er markeret */
    .boks input[type="checkbox"]:checked::before {
      opacity: 1; /* Gør checkhakket synligt */
    }

    .boks {
      border: 1px solid black;
      background-color: transparent;
      padding: 50px;
      margin: 120px;
      text-align: center;
      font-size: 22px;
    }
    .boks2 {
      margin-top: -50px;
    }
    .flex {
      display: flex;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    .button2 {
      width: 200px;
      height: 35px;
      position: relative;
      display: inline-block;
      text-align: center;
      color: black;
      padding: 10px;
      margin-bottom: 70px;
      margin-top: -30px;
      margin-left: 25%;
    }
    .button2::after {
      content: "";
      position: absolute;
      left: -10px; /* Juster startpunktet for linjen */
      right: -10px; /* Juster slutpunktet for linjen */
      bottom: -2px; /* Juster afstanden fra teksten */
      height: 2px; /* Juster tykkelsen af linjen */
      background-color: black; /* Juster farven på linjen */
    }

    .next {
      font-family: fahkwangLight;
      font-size: 22px;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    body {
      background-image: url(../../assets/images/hudanalyse1.png);
    }

    .menu {
      display: none;
    }
    h1 {
      text-align: center;
      margin-top: 150px;
      font-size: 25px;
    }
    .tekst {
      width: 306px;
      text-align: center;
      margin-left: 250px;
      margin-top: 20px;
      font-size: 16px;
    }

    .boks input[type="checkbox"] {
      /* Skjul den standard checkboks */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Opret en brugerdefineret checkboks */
      width: 16px;
      height: 16px;

      border: 1px solid black;
      border-radius: 20px; /* Gør kanterne lidt afrundede */
      margin-right: 10px; /* Tilføj lidt plads mellem checkboksen og teksten */
    }

    /* Opret checkhakket inden i den brugerdefinerede checkboks */
    .boks input[type="checkbox"]::before {
      content: "\2713"; /* Brug unicode-tegnet for check-hakket */
      font-size: 12px; /* Juster størrelsen efter behov */

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black; /* Farve på checkhakket */
      opacity: 0; /* Start med at være usynlig */
    }

    /* Stil den brugerdefinerede checkboks, når den er markeret */
    .boks input[type="checkbox"]:checked::before {
      opacity: 1; /* Gør checkhakket synligt */
    }

    .boks {
      border: 1px solid black;
      background-color: transparent;
      padding: 50px;
      margin: 55px;
      text-align: center;
    }

    .button {
      border: 1px solid black;
      width: 200px;
      height: 35px;
      text-align: center;
      color: black;
      padding: 10px;
      margin-bottom: 70px;
      margin-top: -30px;
      margin-left: 120px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    .button2 {
      width: 200px;
      height: 35px;
      position: relative;
      display: inline-block;
      text-align: center;
      color: black;
      padding: 10px;
      margin-bottom: 70px;
      margin-top: -30px;
      margin-left: 120px;
    }
    .button2::after {
      content: "";
      position: absolute;
      left: -10px; /* Juster startpunktet for linjen */
      right: -10px; /* Juster slutpunktet for linjen */
      bottom: -2px; /* Juster afstanden fra teksten */
      height: 2px; /* Juster tykkelsen af linjen */
      background-color: black; /* Juster farven på linjen */
    }

    .next {
      font-family: fahkwangLight;
      font-size: 16px;
      margin-top: -5%;
    }
  }
  @media (max-width: 599px) {
    body {
      background-image: url(../../assets/images/hudanalyse1.png);
    }

    .menu {
      display: none;
    }
    h1 {
      text-align: center;
      margin-top: 150px;
      font-size: 25px;
    }
    .tekst {
      width: 306px;
      text-align: center;
      margin-left: 53px;
      margin-top: 20px;
      font-size: 16px;
    }

    .boks input[type="checkbox"] {
      /* Skjul den standard checkboks */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Opret en brugerdefineret checkboks */
      width: 16px;
      height: 16px;

      border: 1px solid black;
      border-radius: 20px; /* Gør kanterne lidt afrundede */
      margin-right: 10px; /* Tilføj lidt plads mellem checkboksen og teksten */
    }

    /* Opret checkhakket inden i den brugerdefinerede checkboks */
    .boks input[type="checkbox"]::before {
      content: "\2713"; /* Brug unicode-tegnet for check-hakket */
      font-size: 12px; /* Juster størrelsen efter behov */

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black; /* Farve på checkhakket */
      opacity: 0; /* Start med at være usynlig */
    }

    /* Stil den brugerdefinerede checkboks, når den er markeret */
    .boks input[type="checkbox"]:checked::before {
      opacity: 1; /* Gør checkhakket synligt */
    }

    .boks {
      border: 1px solid black;
      background-color: transparent;
      padding: 50px;
      margin: 55px;
      text-align: center;
    }

    .button {
      border: 1px solid black;
      width: 200px;
      height: 35px;
      text-align: center;
      color: black;
      padding: 10px;
      margin-bottom: 70px;
      margin-top: -30px;
      margin-left: 120px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
    .button2 {
      width: 200px;
      height: 35px;
      position: relative;
      display: inline-block;
      text-align: center;
      color: black;
      padding: 10px;
      margin-bottom: 70px;
      margin-top: -30px;
      margin-left: 120px;
    }
    .button2::after {
      content: "";
      position: absolute;
      left: -10px; /* Juster startpunktet for linjen */
      right: -10px; /* Juster slutpunktet for linjen */
      bottom: -2px; /* Juster afstanden fra teksten */
      height: 2px; /* Juster tykkelsen af linjen */
      background-color: black; /* Juster farven på linjen */
    }

    .next {
      font-family: fahkwangLight;
      font-size: 16px;
    }
  }
</style>
