---
import { Image } from "astro:assets";
import hudtest from "../../assets/images/hudtest.png";
import Menu from "../Menu.astro";
import Menumobil from "../Menumobil.astro";
---

<section>
  <div class="menu1"><Menumobil /></div>
  <div class="menu"><Menu /></div>

  <div class="plads1">
    <h1>MEET YOUR MATCH</h1>
    <p>I AM PURIFIED</p>
  </div>
</section>
<section>
  <Image class="hudtest" src={hudtest} alt="hudtest" />
</section>
<section></section>

<style>
  @media (min-width: 1025px) {
    body {
      background-color: #f5f1eb;
    }

    .menu {
      position: absolute;
      margin-left: 30px;
      margin-top: 20px;
    }
    .menu1 {
      display: none;
    }
    .plads1 {
      text-align: center;
    }
    h1 {
      margin-top: 150px;
      position: absolute;
      text-align: center;
      margin-left: 670px;
    }
    p {
      margin-top: 208px;
      position: absolute;
      text-align: center;
      margin-left: 730px;
    }
    .hudtest {
      width: 1100px;
      height: auto;
      margin-top: 226px;
      margin-left: 280px;
    }
  }
</style>
