---
const { title } = Astro.props;
---

<section class="button">
  <div>
    <span>{title}</span>
  </div>
</section>

<style>
  @font-face {
    font-family: fahkwangLight;
    src: url("/fonts/Fahkwang-Light.ttf");
  }
  @media (min-width: 1025px) {
    .button {
      font-family: fahkwangLight;
      font-size: 16px;
    }
  }
  @media (max-width: 599px) {
    .button {
      font-family: fahkwangLight;
      font-size: 12px;
    }
  }
</style>
