---
import Flowinput from "../components/Flowinput.astro";
import Menu from "./Menu.astro";
import Menumobil from "./Menumobil.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
import Produktknap from "./Produktknap.astro";
import flow from "../assets/images/koebsflow1.png";
import paypal from "../assets/images/paypal.png";
import mobilepay from "../assets/images/mobilepay.png";
import Klarna from "../assets/images/klarna.png";
import Flow4knap from "../components/Flow4knap.astro";
---

<section class="header">
  <div class="menu1"><Menumobil /></div>
  <div>
    <a href="/"><Image class="logo" src={logo} alt="logo" /></a>
  </div>
</section>

<section>
  <div class="container">
    <div class="white-side">
      <div class="left">
        <div>
          <h1>THANK YOU</h1>
          <p>
            Thank you for your order! Just like the perfect pair of shoes can
            lift your spirits, we hope our products do the same for you. We're
            carefully packing your items with extra love and can't wait to send
            them your way. If you have any questions or just want to chat about
            your purchase, we're here for you. Thanks again for bringing a piece
            of our passion into your life. Cheers to new beginnings and fabulous
            finds!
          </p>
        </div>
        <div class="knap">
          <Flow4knap />
        </div>
      </div>
    </div>
    <div class="black-side">
      <div class="line3"></div>
      <div class="flex2">
        <Image class="flow" src={flow} alt="flow" />
        <h4>I am purified</h4>
        <div class="boks">
          <p class="boks1">1</p>
        </div>
      </div>
      <div class="flex3">
        <p class="p2">Remove</p>
        <p class="p3">225.00 DKK</p>
      </div>
      <div class="line4"></div>
      <div class="grid_1-1">
        <p class="p4">Subtotal</p>
        <p class="p4">225.00 DKK</p>
        <p class="p4">Shipping</p>
        <p class="p4">35.00 DKK</p>
        <p class="p4">Included taxes</p>
        <p class="p4">00.00 DKK</p>
        <p class="p4">Total</p>
        <p class="p4">260.00 DKK</p>
      </div>
    </div>
  </div>
</section>
<style>
  @media (min-width: 1025px) {
    .menu1 {
      display: none;
    }
    .logo {
      position: absolute;
      width: 50px;
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 50px;
    }

    .container {
      display: flex;
      height: 100vh;
    }

    .white-side {
      flex: 2;
      background-color: #e7dfd4;
    }
    .black-side {
      flex: 1;
      background-color: #1d1d1d;
    }
    .flex {
      display: flex;
      gap: 20px;
    }
    h1 {
      margin-left: 47px;
      margin-top: 110px;
    }
    h2 {
      margin-left: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .p {
      margin-left: 50px;
    }
    .left {
      margin-left: 150px;
    }
    .label {
      margin-left: 200px;
    }
    .knap {
      margin-left: 200px;
    }
    .flow {
      width: 240px;
      margin-top: 35px;
    }
    .line3 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 150px;
    }
    .line4 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 50px;
    }
    .line5 {
      border-bottom: 1px solid black;
      width: 57%;
      margin-bottom: 20px;
      margin-left: 50px;
      margin-top: 10px;
    }
    .flex2 {
      display: flex;
    }
    h4 {
      color: white;
      margin-top: 100px;
    }
    .boks {
      border: 1px solid white;
      width: 60px;
      margin-top: 100px;
      height: 20px;
      margin-left: 50px;
    }
    .boks1 {
      text-align: center;
      color: white;
    }
    .p2,
    .p3 {
      color: white;
      margin-top: -50px;
    }
    .flex3 {
      display: flex;
      gap: 60px;
    }
    .p2 {
      margin-left: 240px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .p4 {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 100px;
    }

    .other-payment input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #000; /* Sort kant */
      border-radius: 50%; /* Runde form */
      width: 20px;
      height: 20px;
      outline: none; /* Fjerner konturen ved fokus */
      cursor: pointer;
      background-color: transparent; /* Gennemsigtig baggrund */
      margin-left: -150px;
    }

    /* Tilpasning af markøren (check) når den er markeret */
    .other-payment input[type="checkbox"]:checked::before {
      content: ""; /* Skaber markøren */
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 40%; /* Runde form */
      background-color: #000; /* Sort farve */
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centrerer markøren */
    }
    .label2 {
      margin-left: 50px;
    }
    .paypal {
      width: 50px;
      margin-left: 400px;
    }
    .mobilepay {
      width: 70px;
      margin-left: 360px;
    }
    .klarna {
      width: 50px;
      margin-left: 400px;
    }
  }
</style>
