---
import Flowinput from "../components/Flowinput.astro";
import Menumobil from "./Menumobil.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
import Produktknap from "./Produktknap.astro";
import flow from "../assets/images/koebsflow1.png";
import Input from "./Input.astro";
---

<section class="header">
  <div class="menu1"><Menumobil /></div>
  <div>
    <a href="/"><Image class="logo" src={logo} alt="logo" /></a>
  </div>
</section>

<section>
  <div class="container">
    <div class="white-side">
      <div class="left">
        <h1>CONTACT</h1>
        <Flowinput placeholder="Email" />
        <h2>SHIPPING ADDRESS</h2>
        <p class="p">Country/Region</p>

        <Flowinput placeholder="Denmark" />
        <div class="flex">
          <Flowinput placeholder="First Name" />
          <Flowinput placeholder="Last Name" />
        </div>
        <Flowinput placeholder="Address" />
        <Flowinput placeholder="Appartment, suite, etc. (optional)" />
        <div class="flex">
          <Flowinput placeholder="Post code" />
          <Flowinput placeholder="City" />
        </div>
        <Flowinput placeholder="Phone" />
      </div>
      <div class="label">
        <label>
          <input type="checkbox" name="terms" value="terms" />
          Save this information for next time
        </label>
        <br />
        <label>
          <input type="checkbox" name="newsletter" value="newsletter" />
          Text me with news and offers
        </label>
      </div>
      <div class="knap">
        <a href="/flowkoebs3"><Produktknap text="CONTINUE TO SHIPPING" /></a>
      </div>
    </div>
    <div class="black-side">
      <div class="line3"></div>
      <div class="flex2">
        <Image class="flow" src={flow} alt="flow" />
        <h4>I AM PURIFIED</h4>
        <div class="boks">
          <p class="boks1">1</p>
        </div>
      </div>
      <div class="flex3">
        <p class="p2">Remove</p>
        <p class="p3">225.00 DKK</p>
      </div>
      <div class="line4"></div>
      <div class="grid_1-1">
        <p class="p4">Subtotal</p>
        <p class="p4">225.00 DKK</p>
        <p class="p4">Shipping</p>
        <p class="p4">35.00 DKK</p>
        <p class="p4">Included taxes</p>
        <p class="p4">00.00 DKK</p>
        <p class="p4">Total</p>
        <p class="p4">260.00 DKK</p>
      </div>
    </div>
  </div>
</section>
<style>
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }
  @font-face {
    font-family: ZapfHumanist;
    src: url("/fonts/ZapfHumanist601Regular.ttf");
  }
  @media (min-width: 1025px) {
    .menu1 {
      display: none;
    }
    .logo {
      position: absolute;
      width: 50px;
      margin-top: 20px;
      margin-bottom: 50px;
      margin-left: 50px;
    }
    label {
      font-family: ZapfHumanist;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .container {
      display: flex;
      height: 100vh;
    }

    .white-side {
      flex: 2;
      background-color: #e7dfd4;
    }
    .black-side {
      flex: 1;
      background-color: #1d1d1d;
    }
    .flex {
      display: flex;
      gap: 20px;
    }
    h1 {
      margin-left: 47px;
      margin-top: 110px;
      font-size: 24px;
    }
    h2 {
      margin-left: 50px;
      font-size: 24px;
      font-family: fahkwangRegular;
    }
    .p {
      margin-left: 50px;
      font-size: 15px;
      margin-top: 20px;
    }
    .left {
      margin-left: 150px;
    }
    .label {
      margin-left: 200px;
    }
    .knap {
      margin-left: 200px;
    }
    .flow {
      width: 240px;
      margin-top: 35px;
    }
    .line3 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 150px;
    }
    .line4 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 50px;
    }
    .flex2 {
      display: flex;
    }
    h4 {
      color: white;
      margin-top: 100px;
      font-family: fahkwangRegular;
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    .boks {
      border: 1px solid white;
      width: 60px;
      margin-top: 100px;
      height: 20px;
      margin-left: 50px;
    }
    .boks1 {
      text-align: center;
      color: white;
    }
    .p2,
    .p3 {
      color: white;
      margin-top: -50px;
    }
    .flex3 {
      display: flex;
      gap: 60px;
    }
    .p2 {
      margin-left: 240px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .p4 {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 100px;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .menu {
      display: none;
    }
    .logo {
      display: none;
    }

    .menu1 {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #e7dfd4;
    }
    .logo {
      display: none;
    }

    label {
      font-family: ZapfHumanist;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: black;
    }

    .white-side {
      flex: 2;
      background-color: #e7dfd4;
      display: grid;
    }
    .black-side {
      flex: 2;
      background-color: #1d1d1d;
      display: grid;
    }
    .flex {
      display: flex;
      gap: 20px;
    }
    h1 {
      margin-top: 150px;
      font-size: 30px;
      margin-left: 300px;
    }
    h2 {
      font-size: 24px;
      font-family: fahkwangRegular;
      margin-left: 250px;
    }
    .p {
      font-size: 18px;
      margin-top: 20px;
      margin-left: 128px;
    }
    .left {
      margin-left: 20px;
    }
    .label {
      margin-left: 150px;
    }
    .knap {
      margin-left: 200px;
    }
    .flow {
      width: 290px;
      margin-top: 35px;
    }
    .line3 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 150px;
    }
    .line4 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 50px;
    }
    .flex2 {
      display: flex;
    }
    h4 {
      color: white;
      margin-top: 100px;
      font-family: fahkwangRegular;
      font-size: 30px;
    }
    p {
      font-size: 30px;
    }
    .boks {
      border: 1px solid white;
      width: 114px;
      margin-top: 88px;
      height: 59px;
      margin-left: 50px;
      padding: 10px;
    }
    .boks1 {
      text-align: center;
      color: white;
    }
    .p2,
    .p3 {
      color: white;
      margin-top: -88px;
      font-size: 24px;
    }
    .flex3 {
      display: flex;
      gap: 60px;
    }
    .p2 {
      margin-left: 305px;
      margin-top: -90px;
      font-size: 24px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .p4 {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 120px;
      font-size: 24px;
    }
  }

  @media (max-width: 599px) {
    .menu {
      display: none;
    }
    .menu1 {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #e7dfd4;
    }
    .logo {
      display: none;
    }

    label {
      font-family: ZapfHumanist;
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: black;
    }

    .white-side {
      flex: 2;
      background-color: #e7dfd4;
      display: grid;
    }
    .black-side {
      flex: 2;
      background-color: #1d1d1d;
      display: grid;
    }
    .flex {
      display: flex;
      gap: 20px;
    }
    h1 {
      margin-top: 150px;
      font-size: 30px;
      margin-left: 20px;
    }
    h2 {
      font-size: 24px;
      font-family: fahkwangRegular;
      margin-left: 20px;
    }
    .p {
      font-size: 18px;
      margin-top: 20px;
      margin-left: 20px;
    }
    .left {
      margin-left: 20px;
    }
    .label {
      margin-left: 100px;
    }
    .knap {
      margin-left: 80px;
    }
    .flow {
      width: 140px;
      margin-top: 35px;
    }
    .line3 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 150px;
    }
    .line4 {
      border-bottom: 1px solid white;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-top: 50px;
    }
    .flex2 {
      display: flex;
    }
    h4 {
      color: white;
      margin-top: 100px;
      font-family: fahkwangRegular;
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
    .boks {
      border: 1px solid white;
      width: 60px;
      margin-top: 100px;
      height: 20px;
      margin-left: 50px;
    }
    .boks1 {
      text-align: center;
      color: white;
    }
    .p2,
    .p3 {
      color: white;
      margin-top: 29px;
    }
    .flex3 {
      display: flex;
      gap: 60px;
    }
    .p2 {
      margin-left: 140px;
      margin-top: 30px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .p4 {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 75px;
    }
  }
</style>
