---
import { Image } from "astro:assets";
import instagram from "../assets/images/instagram.svg";
---

<section>
  <h1 class="footer_h1">I AM</h1>
  <div class="flex">
    <div class="linje1">
      <p class="email">Email: <br /> hey@iamselfcare.dk</p>
      <p class="telefon">Telefon: <br />+45 21951612</p>
    </div>
    <div class="linje2">
      <p class="adresse">Adresse: <br /> Degnebanken 25, 4681 Herfølge</p>
      <p class="cvr">CVR <br /> 37932493</p>
    </div>
    <div class="instagram">
      <Image src={instagram} alt="instagram" />
    </div>
  </div>
</section>

<style>
  @media (min-width: 1025px) {
    section {
      background-color: #120f0c;
      padding-top: 50px;
      padding-left: 40px;
    }
    .flex {
      display: flex;
      gap: 50px;
    }
    h1 {
      color: white;
      margin-bottom: 30px;
      font-family: fahkwangLight;
      src: url("/fonts/Fahkwang-Light.ttf");
      font-size: 40px;
    }

    .email,
    .adresse {
      margin-bottom: 30px;
    }

    .telefon,
    .cvr {
      margin-bottom: 80px;
    }
    p {
      color: white;
      font-family: fahkwangExtraLight;
      src: url("/fonts/Fahkwang-ExtraLight.ttf");
      font-size: 15px;
    }
  }

  .instagram {
    margin-left: auto;
    margin-right: 40px;
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    section {
      background-color: #120f0c;
      padding: 100px;
      flex-direction: column;
    }
    .flex {
      gap: 50px;
    }
    h1 {
      color: white;
      font-family: fahkwangBold;
      src: url("/fonts/Fahkwang-Bold.ttf");
      font-size: 100px;
    }
    p {
      color: white;
    }
  }

  @media (max-width: 599px) {
    section {
      background-color: #120f0c;
      padding: 100px;
      flex-direction: column;
    }
    .flex {
      gap: 50px;
    }

    h1 {
      color: white;
    }
    p {
      color: white;
    }
  }
</style>
