<section>
  <h1>I AM</h1>
  <div class="flex">
    <div>
      <p>Email: hey@iamselfcare.dk</p>
      <p>Telefon: +45 21951612</p>
    </div>
    <div>
      <p>Adresse: Degnebanken 25, 4681 Herfølge</p>
      <p>CVR 37932493</p>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #120f0c;
  }
  .flex {
    display: flex;
    gap: 50px;
  }
  h1 {
    color: white;
  }
  p {
    color: white;
  }
</style>
