---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
---

<div class="navbar">
  <li><a href="/"><Image class="logo" src={logo} alt="logo" /></a></li>
  <input type="checkbox" id="burger-toggle" />
  <label for="burger-toggle" class="burger-icon">&#9776;</label>
  <nav class="burger-menu">
    <ul>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/Hudanalyse/analyse">ANALYSE</a></li>
      <li><a href="/shop">SHOP</a></li>
    </ul>
  </nav>
</div>

<style>
  @font-face {
    font-family: ZapfHumanist;
    src: url("/fonts/ZapfHumanist601Regular.ttf");
  }
  @media (max-width: 599px) {
    .burger-menu {
      display: none;
    }

    .burger-icon {
      display: grid;
      cursor: pointer;
      flex-direction: row;
      margin-top: -64px;
      margin-right: 46px;
      justify-content: flex-end;
      font-size: 40px;
    }

    #burger-toggle {
      display: none;
    }

    #burger-toggle:checked ~ .burger-menu {
      display: block;
    }

    .burger-menu ul {
      list-style-type: none;
      padding: 0;
    }

    .burger-menu li {
      margin-bottom: 10px;
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .burger-menu a {
      text-decoration: none;
      color: #333;
    }

    .logo {
      width: 47px;
      height: auto;
      margin-top: 15px;
      margin-left: 40px;
    }
    li {
      list-style: none;
      font-family: ZapfHumanist;
      font-size: 16px;
    }
    li a {
      margin-right: 50px;
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .burger-menu {
      display: none;
    }

    .burger-icon {
      display: grid;
      cursor: pointer;
      margin-top: -100px;
      margin-right: 50px;
      justify-content: flex-end;
      font-size: 75px;
    }

    #burger-toggle {
      display: none;
    }

    #burger-toggle:checked ~ .burger-menu {
      display: block;
    }

    .burger-menu ul {
      list-style-type: none;
      padding: 0;
    }

    .burger-menu li {
      margin-bottom: 10px;
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .burger-menu a {
      text-decoration: none;
      color: #333;
    }

    .logo {
      width: 70px;
      height: auto;
      margin-top: 53px;
      margin-left: 40px;
    }
    li {
      list-style: none;
      font-family: ZapfHumanist;
    }
    li a {
      margin-right: 50px;
    }
  }
</style>
