---
const { text } = Astro.props;
---

<section class="container">
  <div class="farve">
    <slot />
    <p>{text}</p>
  </div>
</section>

<style>
  @font-face {
    font-family: SackersGothic;
    src: url("/fonts/SackersGothicStdLight.ttf");
  }
  p {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    width: 275px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: SackersGothic;
    font-size: 15px;
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    p {
      color: white;
      text-align: center;
      background-color: black;
      padding: 24px;
      width: 290px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: SackersGothic;
      font-size: 15px;
    }
  }
</style>
