---
const { text } = Astro.props;
---

<section class="container">
  <div class="farve">
    <slot />
    <p class="knap">{text}</p>
  </div>
</section>

<style>
  @font-face {
    font-family: SackersGothic;
    src: url("/fonts/SackersGothicStdLight.ttf");
  }
  .knap {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    width: 275px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: SackersGothic;
    font-size: 15px;
    transition: background-color 0.3s ease; /* Tilføjer en transition for glidende effekt */
  }
  .knap:hover {
    background-color: #393939; /* Hover farve */
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .knap {
      padding: 20px;
      width: 235px;
    }
  }

  @media (max-width: 599px) {
    .knap {
      padding: 10px;
      width: 135px;
      font-size: 9px;
    }
  }
</style>
