---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/fav_icon2.svg" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: fahkwangBold;
    src: url("/fonts/Fahkwang-Bold.ttf");
  }

  @font-face {
    font-family: fahkwangBoldItalic;
    src: url("/fonts/Fahkwang-BoldItalic.ttf");
  }

  @font-face {
    font-family: fahkwangExtralight;
    src: url("/fonts/Fahkwang-ExtraLight.ttf");
  }

  @font-face {
    font-family: fahkwangExtralightItalic;
    src: url("/fonts/Fahkwang-ExtraLightItalic.ttf");
  }

  @font-face {
    font-family: fahkwangItalic;
    src: url("/fonts/Fahkwang-Italic.ttf");
  }

  @font-face {
    font-family: fahkwangLight;
    src: url("/fonts/Fahkwang-Light.ttf");
  }

  @font-face {
    font-family: fahkwangLightItalic;
    src: url("/fonts/Fahkwang-LightItalic.ttf");
  }

  @font-face {
    font-family: fahkwangMedium;
    src: url("/fonts/Fahkwang-Medium.ttf");
  }

  @font-face {
    font-family: fahkwangMediumItalic;
    src: url("/fonts/Fahkwang-MediumItalic.ttf");
  }

  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }

  @font-face {
    font-family: fahkwangSemibold;
    src: url("/fonts/Fahkwang-SemiBold.ttf");
  }

  @font-face {
    font-family: fahkwangSemibolditalic;
    src: url("/fonts/Fahkwang-SemiBoldItalic.ttf");
  }

  @font-face {
    font-family: PlayfairdisplayBold;
    src: url("/fonts/PlayFairDisplay-Bold.ttf");
  }

  @font-face {
    font-family: PlayfairdisplayRegular;
    src: url("/fonts/PlayFairDisplay-Regular.ttf");
  }

  @font-face {
    font-family: SackersGothic;
    src: url("/fonts/SackersGothicStdLight.ttf");
  }

  @font-face {
    font-family: ZapfHumanist;
    src: url("/fonts/ZapfHumanist601Regular.ttf");
  }

  h1 {
    font-family: fahkwangRegular;
  }
</style>
